body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:824px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:57px;
}
#u3887 {
  position:absolute;
  left:240px;
  top:220px;
  width:584px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3888 {
  position:absolute;
  left:2px;
  top:14px;
  width:580px;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:57px;
}
#u3889 {
  position:absolute;
  left:240px;
  top:154px;
  width:584px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3890 {
  position:absolute;
  left:2px;
  top:14px;
  width:580px;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:57px;
}
#u3891 {
  position:absolute;
  left:240px;
  top:88px;
  width:285px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3892 {
  position:absolute;
  left:2px;
  top:14px;
  width:281px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:57px;
}
#u3893 {
  position:absolute;
  left:539px;
  top:88px;
  width:285px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3894 {
  position:absolute;
  left:2px;
  top:14px;
  width:281px;
  word-wrap:break-word;
}
