body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2091px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u28195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u28195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:801px;
}
#u28196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:800px;
}
#u28196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:51px;
}
#u28197 {
  border-width:0px;
  position:absolute;
  left:2076px;
  top:214px;
  width:15px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u28197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:15px;
  white-space:nowrap;
}
#u28198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:413px;
}
#u28198 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:100px;
  width:1120px;
  height:412px;
}
#u28198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u28199 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:100px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u28199_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u28200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u28200 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:140px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u28200_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u28201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u28201 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:322px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u28201_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u28202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:21px;
}
#u28202 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:70px;
  width:126px;
  height:20px;
  font-size:14px;
}
#u28202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
