body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:240px;
}
#u19773 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:231px;
  width:205px;
  height:229px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19773_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u19774_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:821px;
  height:381px;
}
#u19774 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:800px;
  height:360px;
}
#u19774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:51px;
}
#u19775 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:800px;
  height:50px;
  font-family:'.PingFangSC-Medium', '.PingFang SC Medium', '.PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19775_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:788px;
  word-wrap:break-word;
}
#u19776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
}
#u19776 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:218px;
  width:240px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19776_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:220px;
  word-wrap:break-word;
}
#u19777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u19777 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:218px;
  width:53px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u19777_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u19778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:81px;
}
#u19779 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:380px;
  width:800px;
  height:80px;
  font-family:'.PingFangSC-Medium', '.PingFang SC Medium', '.PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u19780 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:400px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u19781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u19781 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:400px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u19782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:76px;
}
#u19782 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:268px;
  width:240px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u19782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:51px;
}
#u19783 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:268px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u19783_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:99px;
  white-space:nowrap;
}
#u19784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:56px;
}
#u19785 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:800px;
  height:55px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u19785_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:766px;
  word-wrap:break-word;
}
