body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:955px;
}
#u9849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:954px;
}
#u9849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:65px;
}
#u9850 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:1376px;
  height:64px;
}
#u9850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u9851 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:25px;
  width:20px;
  height:15px;
}
#u9851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9853 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:21px;
  width:24px;
  height:24px;
}
#u9853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:23px;
}
#u9854 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:22px;
  width:66px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u9854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u9855 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:22px;
  width:16px;
  height:21px;
}
#u9855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u9856 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:23px;
  width:18px;
  height:19px;
}
#u9856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u9857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u9857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:891px;
}
#u9858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:64px;
  height:890px;
}
#u9858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9859 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:32px;
  height:32px;
}
#u9859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u9861 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:94px;
  width:18px;
  height:17px;
}
#u9861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u9862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u9862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u9864 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:143px;
  width:17px;
  height:17px;
}
#u9864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u9865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u9865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9867 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:239px;
  width:16px;
  height:16px;
}
#u9867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u9868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:255px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u9868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9870 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:287px;
  width:18px;
  height:18px;
}
#u9870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u9871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u9871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u9872 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:337px;
  width:17px;
  height:15px;
}
#u9872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u9874 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:192px;
  width:18px;
  height:15px;
}
#u9874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u9875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u9875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1329px;
  height:842px;
}
#u9877 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:1328px;
  height:841px;
}
#u9877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9878 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:33px;
  height:33px;
  overflow:hidden;
}
#u9878_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9878_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9879 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:89px;
  width:33px;
  height:33px;
  overflow:hidden;
}
#u9879_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9879_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9880 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:898px;
  width:33px;
  height:33px;
  overflow:hidden;
}
#u9880_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9880_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9881 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:898px;
  width:33px;
  height:33px;
  overflow:hidden;
}
#u9881_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9881_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u9882 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:151px;
  width:1090px;
  height:1px;
}
#u9882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9883 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:151px;
  width:200px;
  height:1px;
}
#u9883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:811px;
}
#u9884 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:104px;
  width:1px;
  height:810px;
}
#u9884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:843px;
}
#u9885 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:98px;
  width:208px;
  height:842px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:843px;
}
#u9886 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:98px;
  width:1102px;
  height:842px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:61px;
}
#u9887 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:98px;
  width:208px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u9887_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u9888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:2px;
}
#u9888 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:158px;
  width:172px;
  height:1px;
}
#u9888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:62px;
}
#u9889 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:97px;
  width:77px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1C8CD3;
}
#u9889_img.mouseOver {
}
#u9889.mouseOver {
}
#u9889_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:22px;
  width:53px;
  white-space:nowrap;
}
#u9890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:2px;
}
#u9890 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:158px;
  width:1082px;
  height:1px;
}
#u9890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9893 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:158px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9893_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u9894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9894 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:198px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9894_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u9895 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:174px;
  width:13px;
  height:8px;
}
#u9895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9896 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:238px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9896_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u9897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9897 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:278px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9897_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u9898 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:254px;
  width:13px;
  height:8px;
}
#u9898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9899 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:318px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9899_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9900 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:358px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9900_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9901 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:398px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9901_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u9902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u9902 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:414px;
  width:13px;
  height:8px;
}
#u9902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9903 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:438px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9903_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9904 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:640px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9904_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u9905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9905 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:680px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9905_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9906 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:720px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9906_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9907 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:560px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9907_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9908 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:519px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9908_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u9909 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:656px;
  width:13px;
  height:8px;
}
#u9909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9910 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:479px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9910_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
}
#u9911 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:600px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u9911_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u9912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:252px;
}
#u9913 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:356px;
  width:396px;
  height:251px;
}
#u9913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u9914 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:381px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:32px;
}
#u9915 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:381px;
  width:252px;
  height:31px;
}
#u9915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u9916 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:422px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:85px;
}
#u9917 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:422px;
  width:87px;
  height:84px;
}
#u9917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u9918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:40px;
}
#u9918 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:317px;
  width:396px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u9919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u9919 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:543px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u9920 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:543px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9921 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:202px;
  width:440px;
  height:92px;
}
#u9922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u9922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u9923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u9923 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u9924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u9924 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u9925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u9925 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:110px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u9926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9927 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:32px;
  width:110px;
  height:30px;
}
#u9927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9928 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:32px;
  width:110px;
  height:30px;
}
#u9928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9929 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:32px;
  width:110px;
  height:30px;
  color:#238DD1;
}
#u9929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u9930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9931 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:62px;
  width:110px;
  height:30px;
}
#u9931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9932 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:62px;
  width:110px;
  height:30px;
}
#u9932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u9933 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:62px;
  width:110px;
  height:30px;
  color:#238DD1;
}
#u9933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
