body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u32966 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:100px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u32966_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u32967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u32967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u32967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:801px;
}
#u32968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:800px;
}
#u32968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u32969 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:70px;
  width:154px;
  height:20px;
}
#u32969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u32970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:305px;
}
#u32970 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:577px;
  width:1120px;
  height:304px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:215px;
}
#u32972 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:604px;
  width:1px;
  height:214px;
}
#u32972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
}
#u32974 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:587px;
  width:116px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u32974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:116px;
  white-space:nowrap;
}
#u32975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u32975 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:587px;
  width:43px;
  height:43px;
}
#u32975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u32976 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:599px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u32977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u32977 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:599px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u32979 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:659px;
  width:43px;
  height:43px;
}
#u32979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u32980 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:670px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u32981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u32981 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:670px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
}
#u32982 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:655px;
  width:116px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u32982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:116px;
  white-space:nowrap;
}
#u32983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u32984 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:727px;
  width:43px;
  height:43px;
}
#u32984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u32985 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:739px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u32986 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:739px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
}
#u32987 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:724px;
  width:116px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u32987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:116px;
  white-space:nowrap;
}
#u32988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u32989 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:795px;
  width:43px;
  height:43px;
}
#u32989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u32990 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:807px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u32991 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:807px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:51px;
}
#u32992 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:792px;
  width:116px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u32992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:116px;
  white-space:nowrap;
}
#u32993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u32993 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:537px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u32993_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u32994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:183px;
}
#u32994 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:140px;
  width:1120px;
  height:182px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:156px;
}
#u32995 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:372px;
  width:1120px;
  height:155px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u32996 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:332px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u32996_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
