body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:110px;
  width:1120px;
  height:690px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:70px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u6505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1116px;
  word-wrap:break-word;
}
#u6506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u6506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:800px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:800px;
}
#u6507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:156px;
  width:1095px;
  height:92px;
}
#u6509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:32px;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:328px;
  word-wrap:break-word;
}
#u6510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:32px;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:0px;
  width:763px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:759px;
  word-wrap:break-word;
}
#u6511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:332px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:30px;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:32px;
  width:763px;
  height:30px;
}
#u6512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:759px;
  word-wrap:break-word;
}
#u6513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:332px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:30px;
}
#u6514 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:62px;
  width:763px;
  height:30px;
}
#u6514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:759px;
  word-wrap:break-word;
}
#u6515 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:120px;
  width:160px;
  height:30px;
}
#u6515_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6515_input:disabled {
  color:grayText;
}
