body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u35871 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:100px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35871_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u35872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u35872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u35872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:801px;
}
#u35873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:800px;
}
#u35873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:157px;
}
#u35874 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:140px;
  width:1120px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u35875 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:159px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u35876 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:159px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
}
#u35877 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:189px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  line-height:22px;
}
#u35877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u35878 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:189px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0A9ED7;
}
#u35878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:23px;
}
#u35879 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:256px;
  width:137px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  line-height:22px;
}
#u35879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u35880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u35880 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:224px;
  width:61px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  line-height:22px;
}
#u35880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u35881 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:224px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0A9ED7;
}
#u35881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:21px;
}
#u35882 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:70px;
  width:182px;
  height:20px;
}
#u35882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u35883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:156px;
}
#u35883 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:346px;
  width:1120px;
  height:155px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:41px;
}
#u35884 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:306px;
  width:1120px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35884_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1108px;
  word-wrap:break-word;
}
#u35885 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:356px;
  width:1100px;
  height:90px;
}
#u35886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35887 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35888 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35889 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35890 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35891 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35892 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35893 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35894 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35895 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35896 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
}
#u35897 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u35898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
}
#u35898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u35899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35899 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35900 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35901 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:30px;
  width:92px;
  height:30px;
}
#u35901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u35902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35902 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35903 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35904 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35905 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:30px;
  width:92px;
  height:30px;
}
#u35905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35906 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35907 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35908 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
}
#u35909 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:30px;
  width:88px;
  height:30px;
}
#u35909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u35910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
}
#u35910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u35911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35911 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35912 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35913 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:60px;
  width:92px;
  height:30px;
}
#u35913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u35914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35914 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35915 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:60px;
  width:92px;
  height:30px;
}
#u35915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u35916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35916 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35917 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:60px;
  width:92px;
  height:30px;
}
#u35917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35918 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35919 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u35920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u35920 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
}
#u35921 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:60px;
  width:88px;
  height:30px;
}
#u35921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u35922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u35922 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:465px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u35923 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:465px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
