body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:626px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:263px;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:255px;
  width:366px;
  height:262px;
}
#u5224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:297px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:41px;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:348px;
  width:282px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u5227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:436px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u5227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u5228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:436px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
