body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:579px;
}
#u6141 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1079px;
  width:320px;
  height:578px;
}
#u6141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1079px;
  width:320px;
  height:24px;
}
#u6142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1103px;
  width:320px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u6144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:44px;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1614px;
  width:320px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u6145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1163px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:454px;
}
#u6146 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:454px;
  width:320px;
  height:453px;
}
#u6146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:569px;
}
#u6147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:82px;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:185px;
  width:226px;
  height:81px;
}
#u6148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:85px;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:625px;
  width:304px;
  height:84px;
}
#u6149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:34px;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:592px;
  width:304px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6150_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:292px;
  word-wrap:break-word;
}
#u6151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:81px;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:752px;
  width:304px;
  height:80px;
}
#u6151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:34px;
}
#u6152 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:719px;
  width:304px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6152_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:292px;
  word-wrap:break-word;
}
#u6153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:550px;
}
#u6153 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:100px;
  width:320px;
  height:549px;
}
#u6153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u6154 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:100px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u6155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u6155 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:109px;
  width:13px;
  height:22px;
}
#u6155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u6156 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:867px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u6157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u6157 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:726px;
  width:37px;
  height:20px;
  color:#999999;
}
#u6157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6158 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:762px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u6158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u6159 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:783px;
  width:27px;
  height:17px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u6159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6160 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:805px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:799px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:783px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:160px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u6163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:181px;
  width:27px;
  height:17px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u6164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:203px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:197px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:181px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:253px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u6168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:274px;
  width:27px;
  height:17px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u6169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:296px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u6171 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:290px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:274px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:345px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u6173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:366px;
  width:27px;
  height:17px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u6174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:388px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:382px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:366px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:736px;
  width:0px;
  height:0px;
}
#u6178_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u6178_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-620px;
  width:8px;
  height:624px;
}
#u6178_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-620px;
  width:41px;
  height:8px;
}
#u6178_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-625px;
  width:19px;
  height:18px;
}
#u6178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-308px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:773px;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:100px;
  width:320px;
  height:772px;
}
#u6179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:100px;
  width:320px;
  height:24px;
}
#u6180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:124px;
  width:320px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u6182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:646px;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:200px;
  width:224px;
  height:646px;
}
#u6182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6183 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:209px;
  width:0px;
  height:0px;
}
#u6183_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u6183_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-64px;
  width:8px;
  height:68px;
}
#u6183_seg2 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-64px;
  width:23px;
  height:8px;
}
#u6183_seg3 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-69px;
  width:19px;
  height:18px;
}
#u6183_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u6184 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:138px;
  width:13px;
  height:22px;
}
#u6184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:887px;
  width:0px;
  height:0px;
}
#u6185_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u6185_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:249px;
}
#u6185_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:237px;
  width:19px;
  height:8px;
}
#u6185_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:232px;
  width:19px;
  height:18px;
}
#u6185_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u6186 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1117px;
  width:13px;
  height:22px;
}
#u6186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1173px;
  width:18px;
  height:16px;
}
#u6187_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u6188 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1172px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u6189 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:1172px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u6189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u6190 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1172px;
  width:33px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u6191 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1199px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1209px;
  width:18px;
  height:16px;
}
#u6192_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u6193 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1208px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u6194 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:1208px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u6194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u6195 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1208px;
  width:33px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u6196 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:1253px;
  width:17px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u6197 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1253px;
  width:41px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u6198 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1252px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
