body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:801px;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:721px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:70px;
  width:1200px;
  height:720px;
}
#u3709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:61px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:801px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:800px;
}
#u3711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:70px;
  width:1200px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:1188px;
  word-wrap:break-word;
}
#u3713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:110px;
  width:1200px;
  height:100px;
  text-align:left;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u3724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:743px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:739px;
  width:47px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u3732_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:745px;
  width:13px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:739px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u3736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:739px;
  width:82px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u3737_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u3738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:749px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u3738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3739 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:749px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.800000011920929;
}
#u3739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:749px;
  width:8px;
  height:8px;
}
#u3740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:122px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:120px;
  width:300px;
  height:25px;
}
#u3742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:220px;
  width:1296px;
  height:90px;
}
#u3744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u3754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3754 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u3755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:30px;
  width:118px;
  height:30px;
}
#u3756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3757 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:30px;
  width:118px;
  height:30px;
}
#u3757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3758 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:30px;
  width:118px;
  height:30px;
}
#u3758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:30px;
  width:118px;
  height:30px;
}
#u3759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:30px;
  width:118px;
  height:30px;
}
#u3760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:30px;
  width:118px;
  height:30px;
}
#u3761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u3762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:30px;
  width:118px;
  height:30px;
}
#u3762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u3763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3763 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:30px;
  width:118px;
  height:30px;
}
#u3763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u3764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u3764 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:30px;
  width:116px;
  height:30px;
}
#u3764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u3765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3765 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:30px;
  width:118px;
  height:30px;
}
#u3765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u3766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3767 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:60px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u3768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3768 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:60px;
  width:118px;
  height:30px;
}
#u3768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3769 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:60px;
  width:118px;
  height:30px;
}
#u3769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3770 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:60px;
  width:118px;
  height:30px;
}
#u3770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3771 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:60px;
  width:118px;
  height:30px;
}
#u3771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:60px;
  width:118px;
  height:30px;
}
#u3772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u3773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:60px;
  width:118px;
  height:30px;
}
#u3773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u3774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:60px;
  width:118px;
  height:30px;
}
#u3774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u3775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:60px;
  width:116px;
  height:30px;
}
#u3775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u3776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u3776 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:60px;
  width:118px;
  height:30px;
}
#u3776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:193px;
}
#u3777 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:355px;
  width:225px;
  height:182px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3777_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
