body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:569px;
}
#u5761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:100px;
  width:320px;
  height:569px;
}
#u5762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:565px;
  width:51px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  word-wrap:break-word;
}
#u5764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:513px;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:819px;
  width:320px;
  height:512px;
}
#u5764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:16px;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:762px;
  width:320px;
  height:15px;
}
#u5765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:778px;
  width:320px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u5767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:788px;
  width:13px;
  height:22px;
}
#u5767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:973px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5768_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:288px;
  word-wrap:break-word;
}
#u5769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1013px;
  width:182px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5769_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:170px;
  word-wrap:break-word;
}
#u5770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1072px;
  width:300px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u5771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u5771 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:1013px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
