body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1280px;
  height:800px;
}
#u4931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:198px;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:494px;
  width:59px;
  height:197px;
}
#u4932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:81px;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:501px;
  width:19px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u4934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:85px;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:591px;
  width:51px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u4935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:547px;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:157px;
  width:991px;
  height:546px;
}
#u4935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:340px;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:157px;
  width:991px;
  height:340px;
}
#u4936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:245px;
  width:95px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
