body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:676px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:676px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:109px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:150px;
  width:300px;
  height:108px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:225px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#919191;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
