body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u5755 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u5756 {
  position:absolute;
  left:1500px;
  top:100px;
  width:40px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u5757 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u5758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:23px;
}
#u5758 {
  position:absolute;
  left:1600px;
  top:100px;
  width:848px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5759 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u5760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u5760 {
  position:absolute;
  left:904px;
  top:430px;
  width:40px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u5761 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
