body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:801px;
}
#u7204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u7204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:61px;
}
#u7205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u7205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  word-wrap:break-word;
}
#u7206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:801px;
}
#u7206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:800px;
}
#u7206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:671px;
}
#u7207 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:70px;
  width:1200px;
  height:670px;
}
#u7207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u7208 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:70px;
  width:1200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7208_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1188px;
  word-wrap:break-word;
}
#u7209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7209 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:75px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u7210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:91px;
}
#u7210 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:120px;
  width:1179px;
  height:90px;
}
#u7210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u7211 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:153px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:26px;
}
#u7212 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:153px;
  width:234px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u7213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7213 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:150px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u7214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7214 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:150px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u7215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:91px;
}
#u7215 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:220px;
  width:1179px;
  height:90px;
}
#u7215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u7216 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:253px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:26px;
}
#u7217 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:253px;
  width:234px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u7218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7218 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:250px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u7219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7219 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:250px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
