body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:954px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:954px;
}
#u7941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:1376px;
  height:64px;
}
#u7942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:25px;
  width:20px;
  height:15px;
}
#u7943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:21px;
  width:24px;
  height:24px;
}
#u7945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:22px;
  width:66px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:22px;
  width:16px;
  height:21px;
}
#u7947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:23px;
  width:18px;
  height:19px;
}
#u7948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 33, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:890px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:64px;
  height:890px;
}
#u7950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:32px;
  height:32px;
}
#u7951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:94px;
  width:18px;
  height:17px;
}
#u7953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:143px;
  width:17px;
  height:17px;
}
#u7956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:239px;
  width:16px;
  height:16px;
}
#u7959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:255px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:287px;
  width:18px;
  height:18px;
}
#u7962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:337px;
  width:17px;
  height:15px;
}
#u7964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:192px;
  width:18px;
  height:15px;
}
#u7966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1328px;
  height:841px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:1328px;
  height:841px;
}
#u7969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u7970_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7970_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:89px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u7971_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7971_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:898px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u7972_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7972_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:898px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u7973_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7973_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:151px;
  width:1090px;
  height:1px;
}
#u7974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:151px;
  width:200px;
  height:1px;
}
#u7975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:811px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:104px;
  width:1px;
  height:810px;
}
#u7976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:88px;
  width:208px;
  height:842px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:88px;
  width:1102px;
  height:842px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:88px;
  width:208px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7979_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u7980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:2px;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:148px;
  width:172px;
  height:1px;
}
#u7980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1C8CD3;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:87px;
  width:77px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1C8CD3;
}
#u7981_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1C8CD3;
}
#u7981.mouseOver {
}
#u7981_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:22px;
  width:53px;
  white-space:nowrap;
}
#u7982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:2px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:148px;
  width:1082px;
  height:1px;
}
#u7982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:206px;
  width:840px;
  height:150px;
}
#u7984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u7985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:151px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:151px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u7987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:0px;
  width:151px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u7988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u7989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:0px;
  width:153px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:82px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u7991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:30px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u7992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:30px;
  width:151px;
  height:40px;
}
#u7992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:30px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:147px;
  word-wrap:break-word;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:30px;
  width:152px;
  height:40px;
}
#u7994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:30px;
  width:153px;
  height:40px;
}
#u7995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:82px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u7997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:70px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:147px;
  word-wrap:break-word;
}
#u7998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:70px;
  width:151px;
  height:40px;
}
#u7998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:70px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:147px;
  word-wrap:break-word;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:70px;
  width:152px;
  height:40px;
}
#u8000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:70px;
  width:153px;
  height:40px;
}
#u8001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:82px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u8003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:110px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:147px;
  word-wrap:break-word;
}
#u8004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:110px;
  width:151px;
  height:40px;
}
#u8004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:110px;
  width:151px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:110px;
  width:152px;
  height:40px;
}
#u8006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:110px;
  width:153px;
  height:40px;
}
#u8007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:172px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8010_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u8011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:212px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8011_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:188px;
  width:13px;
  height:8px;
}
#u8012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:252px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8013_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u8014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:292px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8014_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:268px;
  width:13px;
  height:8px;
}
#u8015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:332px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8016_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:372px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8017_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:412px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8018_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u8019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:428px;
  width:13px;
  height:8px;
}
#u8019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:452px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8020_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:694px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8021_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u8022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:734px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8022_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:774px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8023_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:614px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8024_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:573px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8025_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:710px;
  width:13px;
  height:8px;
}
#u8026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:533px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8027_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:654px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8028_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:493px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8029_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:249px;
  width:16px;
  height:16px;
}
#u8030_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:287px;
  width:16px;
  height:16px;
}
#u8031_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8031_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:329px;
  width:16px;
  height:16px;
}
#u8032_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8032_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:249px;
  width:16px;
  height:16px;
}
#u8033_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8033_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:287px;
  width:16px;
  height:16px;
}
#u8034_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8034_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:329px;
  width:16px;
  height:16px;
}
#u8035_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8035_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
